.clear {
    background-image: url(https://cdn.pixabay.com/photo/2013/09/19/16/44/sky-183869_960_720.jpg);
}

.clouds {
    background-image: url(https://cdn.pixabay.com/photo/2018/04/05/23/30/nature-3294543_960_720.jpg);
}

.rain {
    background-image: url(https://cdn.pixabay.com/photo/2018/04/02/13/55/raindrop-3283946_960_720.jpg);
}

.snow {
    background-image: url(https://cdn.pixabay.com/photo/2017/12/09/16/41/snow-man-3008179_960_720.jpg);
}

body {
    font-family: 'Share Tech', sans-serif;
    color: #151515;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3em;
    position: relative;
}

i.wi {
    font-size: 5em;
    line-height: 2em;
}

h2 {
    font-size: 2em;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 70px;
    color: #fff;
    background-color: #222;
    padding: 5px;
    font-size: 15px;
    transition: opacity 0.3s, top 0.5s;
}

h1:hover .tooltip {
    top: -40px;
    opacity: 1;
}